form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

form .header {
  margin: 20px;
}

form .input-items {
  width: 30%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
}

form .item {
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
}

form button#submitBtn {
  display: block;
  margin: 0 auto;
  background-color: #146017; 
  color: white;
  padding: 8px 16px; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #41b145; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

form label {
  margin-bottom: 5px;
}

form .input-items .warning {
  color: red;
}