<form action="" [formGroup]="registerForm">
  <div class="header">
    <h3>Register</h3>
  </div>

  <div class="input-items">
    <div class="item">
      <label for="name">Name:</label>
      <input class="form-control" formControlName="registerName" id="name" type="text" placeholder="Name">
      @if (name?.invalid && (name?.dirty || name?.touched)) {
        <div class="warning">
          @if (name?.errors?.['required']) {
            Name is required.
          } @else {
            Hola.
          }
        </div>    
      }      
    </div>
  
    <div class="item">
      <label for="lastName">Last Name:</label>
      <input class="form-control" formControlName="registerLastName" id="lastName" type="text" placeholder="Last name" >
    </div>
  
    <div class="item">
      <label for="email">Email:</label>
      <input class="form-control" formControlName="registerEmail" id="email" type="email" placeholder="Email">
    </div>
  
    <div class="item">
      <label for="password">Password:</label>
      <input class="form-control" formControlName="registerPassword" id="password" type="password" placeholder="Password">
    </div>

    <button type="submit" (click)="register()">Sign Up</button>
  </div>
</form>